body {
    padding: 0;
    margin: 0;
    font-family: Quicksand;
}


/* header */

header {
    height: 180px;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 64px;
    color: #B07f36;
}

header h2 {
    font-size: 36px;
    color: #ef950d;
    position: relative;
    bottom: 40px;
}

a:hover {
    opacity: 0.8;
}


/* main */

main {
    background-color: #B07F36;
    height: auto;
    padding-bottom: 100px;
    text-align: center;
    padding-top: 30px;
}

main div:first-child {
    width: 55%;
    margin-left: 22.5%;
    text-align: left;
    font-size: 18px;
    color: white;
}


/* section */

section {
    margin-bottom: 20px;
}

section h3 {
    position: relative;
    top: 10px;
    font-size: 24px;
}


/* footer */

footer,
footer nav,
footer nav ul {
    display: flex;
    background-color: #B07F36;
}

footer,
footer nav {
    justify-content: center;
}

footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
}

footer nav ul {
    justify-content: space-around;
    width: 300px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}