body {
    padding: 0;
    display: flex;
    width: 1366px;
    height: 760px;
    margin: auto;
}

#flex-header {
    border: 2px solid blue;
}

section:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 50%;
    height: 100%;
    border: 2px solid black;
}

section:last-of-type {
    border: 2px solid purple;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid purple;
    height: 80%;
    margin-top: 10%;
    align-items: center;
}

.form-container div {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
}

input {
    width: 100%;
}


/* hidden and showing classes */

.hidden {
    display: none;
}

.showing {
    display: block;
}