/* revisit */

@font-face {
    font-family: Gotham-Light;
    src: url(fonts/GothamLight.ttf) format('truetype');
}

@font-face {
    font-family: Gotham-Book;
    src: url(fonts/GothamBook.ttf) format('truetype');
}

@font-face {
    font-family: Gotham-Medium;
    src: url(fonts/GothamMedium.ttf) format('truetype');
}

@font-face {
    font-family: Gotham-Bold;
    src: url(fonts/GothamBold.ttf) format('truetype');
}

body {
    padding: 0;
    display: flex;
    width: 1466px;
    height: 800px;
    margin: auto;
    font-family: Gotham-Bold;
    background-color: #191414;
    overflow-x: hidden;
}

/* LEFT SIDE */
section:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2941ab;
    background-image: url("findyourselfbackground.png");
}

/* RIGHT SIDE */
section:last-of-type {
    /* background-color: #191414; */
    background-color: black;
    
}

section {
    width: 100%;
    height: 100%;
}

/*
.circle {
    width: 100px;
    height: 100px;
    background-color: #1db954;
    position: relative;
    border-radius: 0px;
    bottom: 200px;
    right: 300px;
}
*/

#flex-header {
    width: 100%;
    margin-left: 60px;
}

#flex-header h1 {
    color: #1db954;
    letter-spacing: -3px;
    font-size: 80px;
    font-family: Gotham-Bold;

}

#flex-header h2 {
    color: white;
    font-family: Gotham-Medium;
    position: relative;
    bottom: 50px;
    font-size: 18px;
}

/* FORM */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin-top: 10%;
    align-items: center;
}

.form-container div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-container div label {
    color: white;
    font-size: 18px;
}

select {
    font-family: Montserrat;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 0px;
}

input {
    width: 100%;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Montserrat;
    border: none;
}

input:focus {
    border-radius: 0px;
}

#btn-next {
    width: 50%;
    height: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    /* background:#1db954; */
    background: #1f4d2f;
    color: white;
    transition: 0.5s;
}

#btn-next:hover {
    background:#1db954;
}

#btn-next span {
    position: relative;
    top: 5px;
}



/* hidden and showing classes */

.hidden {
    display: none;
}

.showing {
    display: block;
}


/* album page view */

.album {
    right: 50px;
    width: 1466px;
    height: 800px;
    display: flex;
    /* background: #191414; */
    background: black;
}

.sidebar {
    height: 760px;
    width: 300px;
    color: white;
    font-family: Gotham-Medium;
    font-size: 16px;
}

.sidebar ul {
    margin-top: 50px;
}

.sidebar ul div {
    border: 0.1px solid #616161;
    width: 90%;
    margin-top: 43px;
}

.sidebar ul li {
    margin-top: 40px;
}

.music-info {
    border: 2px solid red;
    width: 1166px;
    overflow-y: scroll;
}
.music-info-header {
    border: 2px solid blue;
    height: 312px;
    display: flex;
    justify-content: flex-start;
}

.album-picture {
    width: 225px;
    height: 225px;
    margin-left: 50px;
    margin-top: 44px;
    border: 2px solid white;
}

.music-info-header div:last-child {
    border: 2px solid white;
    height: 225px;
    width: 70%;
    margin-left: 22px;
    margin-top: 44px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.music-info-header div:last-child h2 {
    font-size: 48px;
    line-height: 2px;
}

.music-info-header div:last-child p {
    line-height: 2px;
}

.fake-button-controls {
    height: 100px;
    color: white;
}

.fake-button-controls div {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
}

#play-button {
    width: 60px;
    height: 60px;
}

#heart {
    width: 35px;
    height: 32.11px;
}

#dotdotdot {
    width: 35px;
    height: 8.75px;
}

.album table {
    border: 2px solid white;
    height: auto;
    width: 100%;
    height: 376px;
    color: white;
}

.album table tr th {
    text-align: left;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
}

.album table td {
    height: 65px;
    padding-top: 5px;
}


/*
.scroll {
    overflow-y: auto;
    
}
*/