body {
    margin: auto;
    padding: 0;
    width: 1366px;
    height: 750px;
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    height: 100%;
    margin-top: 20px;
}

#journal1, #journal2 {
    display: flex;
}

h1 {
    font-size: 48px;
    font-weight: normal;
    line-height: 5px;
}

section {
    width: 50%;
    height: 100%;
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid gray;
}

.article-container p {
    width: 70%;
    font-size: 18px;
}
.section2 {
    height: 80%;
    margin-top: 5%;
}
.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 50px;
    top: 30px;
}

.right div {
    width: 75%;
}

.right div p {
    font-size: 28px;
}

.right span {
    font-size: 48px;
}

section:first-child {
    display: flex;
}

#img1, #img3 {
    width: 285px; 
    height: 350px;
}

#img2, #img4 {
    width: 225px; 
    height: 300px; 
    margin-bottom: 100px;
}





/* footer */
ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

footer, 
footer nav, 
footer nav ul {
    display: flex;
}

footer, 
footer nav {
    justify-content: center;
}

footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
}

footer nav ul {
    justify-content: space-around;
    width: 500px;
}