body {
    font-family: 'Gaegu', serif;
    margin: auto;
    padding: 0;
    max-width: 1366px;
    min-width: 900px;
    height: 768px;
    width: 100%;
    background-color: #FFFEF2;
    background-image: url("./brickwall.png"); /* todo: edit image to get rid of black border */
}

/* I googled how to get rid of the indentation of list elements. https://stackoverflow.com/questions/13938975/how-to-remove-indentation-from-an-unordered-list-item/13939142 */

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

h1 {
    font-size: 64px;
    text-shadow: 0px 0px 15px turquoise;
    color: white;
    animation: colorchange 10s infinite;
}

@keyframes colorchange {
    0% {
        text-shadow: 0px 0px 15px turquoise;
    }
    25% {
        text-shadow: 0px 0px 15px orange;
    }
    50% {
        text-shadow: 0px 0px 15px green
    }
    75% {
        text-shadow: 0px 0px 15px red;
    }
    100% {
        text-shadow: 0px 0px 15px turquoise;
    }
}


/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/* BANNER */

#banner div {
}

#banner {
    width: 1100px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#banner-content {
    display: flex;
    justify-content: space-between;
}
#banner-content section {
    width: 30%;
    height: 200px;
    text-align: center;
}

#banner-content section div {
    margin-top: 75px;
}

#class-tag {
    display: flex;
    align-items: end;
    position: relative;
    left: 10px;
}

#rectangle {
    width: 250px;
    height: 80px;
    transform: skew(-15deg);
    background-color: white;
    display: flex;
    justify-content: center;
}
#rectangle p {
    width: 75%;
    text-align: center;
}
#triangle-right {
    position: relative;
    right: 11px;
    width: 0;
    height: 0;
    border-left: 20px solid rgba(0,0,0,0);
    border-right: 20px solid rgba(0,0,0,0);
    border-bottom: 80px solid lightgray;
}

#plant {
    position: relative;
    bottom: 50px;
    right: 25px;
}



#shelf {
    border-bottom: 30px solid #eabf7c;
    box-shadow: 1px 13px 8px -4px rgba(0,0,0,0.25)
}


/* MAIN CONTENT/COLUMNS */

main {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

main section {
    width: 250px;
    display: flex;
    flex-direction: column;
    background: #31343a;
    border: 10px solid #B18D56;
}

main section h2 {
    font-size: 28px;
}

main section h2 span {
    border-bottom: 3px solid white;
}

main section h2, section ul a {
    color: white;
}

main section ul {
    text-align: left;
}

main section ul,
h2 {
    padding-left: 10px;
    padding-right: 10px;
}

main section ul li {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    overflow: hidden;
}


main section ul a:hover {
    border-bottom: 1px solid white;
}

.left-string {
    width: 140px;
    height: 5px;
    background: lightgray;
    transform: rotate(-30deg);
    position: relative;
    bottom: 40px;
    right: 10px;
}

.right-string {
    width: 140px;
    height: 5px;
    background: lightgray;
    transform: rotate(30deg);
    position: relative;
    bottom: 45px;
    left: 120px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    bottom: 92.5px;
    left: 117.5px;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

footer nav {
    display: flex;
    justify-content: center;
}

footer nav ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

#table {
    width: 800px;
    height: 20px;
    background-color: #eabf7c;
}

#table-leg-1 {
    width: 40px;
    height: 40px;
    background-color: #eabf7c;
    position: relative;
    left: 20px;
}

#table-leg-2 {
    width: 40px;
    height: 40px;
    background-color: #eabf7c;
    position: relative;
    left: 740px;
    bottom: 40px;
}